.movie-detail-container{
    background-image: url('/src/images/main_image.webp');
    padding: 12rem 0rem !important;
    
}
.movie-detail-row {
justify-content: center;
margin-right: 0px !important;
margin-left:0px !important;
}
.movie-title{
    color: white;
    font-size: 48px;
}
.imdb-text{
    background-color: #d4d4d4;
    color: black;
    border-radius: 2px;
    margin-left: -4px;
    z-index: 0;
    padding: 4px 5px 4px 10px;
    font-weight: bolder !important;
}
.info-title{
    color: white;
    font-weight: bolder;
    width: auto;
}
.flex-container {
    display: flex;
  }
  .flex-container > div {
    margin-right: 50px;
  }
  .common-text{
      color: white;
  }
  .flex-container-imdb-rate{
    display: flex;
  }
  .detail-title{
color: white;
font-weight: bold;
width: fit-content;
  }
  .detail-explain{
    color: #d4d4d4;
    font-weight: 700;
    width: fit-content;
  }
  .divider{
      margin-bottom: 10px;
  }
  .divider>img{
    width: -webkit-fill-available;
  }

  @media screen and (max-width: 960px) {
    .movie-fragment{
      padding: 0px 30px;
    }
    .movie-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  }