.card{
    border-radius: 6px;
    border: none !important;
    box-shadow: 0px 2px 3px 2px #41464b14;
    margin-right: 39px !important;
    margin-bottom: 40px;
    padding: 0px;
    /* position: absolute;
    justify-content: flex-end;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px!important; */
    
}
.card >a{
    text-decoration: none !important;
}
.movie-image{
    width: -webkit-fill-available !important;
    border-radius: 6px 6px 0px 0px;
}
.card-info>p{
 margin: 0 !important; 
}
.card-info{
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.movie-titles{
    font-size: 16px;
    font-weight: bolder;
    color: black !important;
}
.movie-detail{
    font-size: 14px;
}